header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  cursor: pointer;
  text-align: right;
  margin-right: 20px;
}

header h2 {
  display: inline-block;
  margin: 0 10px;
}

header h2 a {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

header h2 a:hover {
  color: black;
  text-decoration: underline;

}

h1 {
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.main a {
  font-family: "Times New Roman", Times, serif;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.main a:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

.wishlist {
  display: flex;
  align-items: center;
}

.wishlist img {
  margin: 0 10px;
}

.click {
  text-align: center;
  margin-top: 50px;
}

.button-container {
  margin-bottom: 20px;
}

.click-button {
  background-color: white;
  border: 2px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
}

.click-button:hover {
  background-color: #f0f0f0;
}

a {
  font-family: "Times New Roman", Times, serif;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
